<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Página de Login</h1>
        <% if (typeof error !== 'undefined') { %>
            <p class="error"><%= error %></p>
        <% } %>
        <form action="/login" method="POST">
            <label for="username">Email:</label>
            <input type="text" name="email" required>
            <label for="password">Senha:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>